<nav class="navbar navbar-default">
  <div class="container">
    <div class="" id="myNavbar">
    	<a href="/queue" style="float: left;" class="btn">Queue</a> | <a href="/add-user" class="btn">Add User</a> | <a href="/users" class="btn">View Users</a>

<!--       <ul class="nav navbar-nav navbar-right"> -->
<!--         <li><a href="/queue" style="float: left;" class="btn">Queue</a></li> -->
<!--         <li><a href="/add-user" class="btn">Add User</a></li> -->
<!--         <li><a href="/users" class="btn">View Users</a></li> -->
<!--       </ul> -->
    </div>
  </div>
</nav>