html {
	height: 100%;
	background: #000 !important;
}

#add-user .row,
#add-user .container,
#add-user form {
	height: 100%;
}

#add-user,
#queue,
#users,
#leaderboard {
	background: #000;
	height: 100%;
	color: #42AD2C;
	font-size: 1.5em;
}

#leaderboard table {
	font-size: 0.6em;
}

#leaderboard td.end,
#leaderboard th.end {
	text-align: end;
}

#add-user section#register {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#add-user section#register > div{
	flex: 1;
}

#add-user legend{
	font-size: 2em;
	text-align: center;
	color: #42AD2C;
}

#add-user .form-control{
	font-size: 1.25em;
}

#add-user button {
	font-size: 1.5em;
}

#users thead tr,
#leaderboard thead tr {
	background-color: #42AD2C;
}

#users .logo,
#leaderboard .logo {
	width: 140px;
	margin: 10px 0;
}

#users img,
#leaderboard img,
#queue img {
	vertical-align: middle;
	padding-left: 450px;
    border-style: none;
    height: 250px;
    margin: 22px auto;
}

#users #search-field {
	font-size: 1.2em;
    margin: 20px 0;
}

#users #users-table_filter {
	display: none;
}

#queue .queues table {
	margin: 10px;
}

#queue tbody {
	min-height: 25px;
}

#users #users-table_wrapper {
	width: 100%;
}

#users, #add-user,
#queue,
#leaderboard a {
	color: #FFF;

}

.green {
	color: #42AD2C;
}

/*Adding extra style navigation*/

.container {
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
	min-height: 50px;
	background-color: #42ad2c;
	color: white;
}

.navbar .container {
	min-height: 40px;
}
.navbar-nav  li a:hover {
	color: #ffffff !important;
}
.active>a {
	color: #ffffff !important;;
}
